
/* Seção de Empréstimos */
.emprestimos .container-emprestimos h1 {
    font-size: 48px;
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    font-family: var(--font-title);
    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.5);
}

.emprestimos .container-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 10px;

}

.emprestimos .container-cards .card-emprestimos {
    max-width: 495px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    
}

.emprestimos .container-cards .card-emprestimos:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

    background: rgba(255, 255, 255, 0.2);   
    backdrop-filter: blur(0.625rem);         
    -webkit-backdrop-filter: blur(0.625rem);    
}

.emprestimos .container-cards .card-emprestimos img {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.emprestimos .container-cards .card-emprestimos h2 {
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    font-family: var(--font-title);
    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}

.emprestimos .container-cards .card-emprestimos p {
    width: 495px;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
    color: var(--text-color);
    text-align: left;
    font-family: var(--font-text);
    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.5);
}

.emprestimos .container-cards .card-emprestimos span {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    color: var(--text-color);
    text-align: right;
    font-family: var(--font-text);
    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

/* Seção de Simulação de Empréstimos */
.emprestimos .container-simulation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    

    position: relative;
    
    max-width: 500px;
    width: 500px;
    margin-bottom: 50px;
}

.emprestimos .container-simulation h2 {
    font-size: 30px;
    color: var(--primary-color);
    margin: 20px 0;
    text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.5);
}

.emprestimos .container-simulation .box-simulation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    padding: 10px;

    border-radius: 5px;

    outline: 1px solid var(--secondary-color);
    background: url(../assets/img/background.jpeg), no-repeat ;
    color: var(--primary-color);
    z-index: 15;
    position: relative;
}

.emprestimos .container-simulation .box-simulation .tipo-emprestimo {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-paragraph);

    font-size: 18px;
}

.emprestimos 
.container-simulation 
.box-simulation 
.tipo-emprestimo input[type="radio"]:checked {
  accent-color: var(--primary-color);
}

.emprestimos .container-simulation .box-simulation .input-dados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 5px;

    max-width: 500px;
    padding: 10px;
    outline: 1px solid var(--primary-color);
}

.emprestimos .container-simulation .box-simulation .input-dados label {
    font-family: var(--font-paragraph);
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    width: 100%;
    display: block;
    text-align: center;
    color: var(--secondary-color);
    
}

.emprestimos .container-simulation .box-simulation .input-dados input {
    height: 35px;
    text-align: center;
    border-radius: 5px;
    font-family: var(--font-paragraph);
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
    background: url(../assets/img/background.jpeg), fixed, no-repeat;
}


.emprestimos .container-simulation .box-simulation .input-dados input[type=text]:placeholder-shown,
.emprestimos .container-simulation .box-simulation .input-dados input[type=number]:placeholder-shown {
    background: url(../assets/img/background.jpeg), fixed, no-repeat;
}

.emprestimos .container-simulation .box-simulation .input-dados input[type=text]:not(:placeholder-shown),
.emprestimos .container-simulation .box-simulation .input-dados input[type=number]:not(:placeholder-shown) {
    background: var(--secondary-color);
}

.emprestimos .container-simulation .box-simulation .input-dados input[type="text"]:hover,
.emprestimos .container-simulation .box-simulation .input-dados input[type="number"]:hover {
  background: var(--secondary-color);
}

.emprestimos .container-simulation .box-simulation .input-dados input[type="text"]:focus,
.emprestimos .container-simulation .box-simulation .input-dados input[type="number"]:focus {
  background: var(--secondary-color);
}

.emprestimos .container-simulation .box-simulation #calcular-emprestimo {
    height: 35px;
    width: 150px;
    outline: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 18px;
    border: none;
    border-radius: 5px;
      
}

.emprestimos .container-simulation .base {
    position: absolute;
    min-width: 200px;
    max-width: 520px;
    width: 500px;
    height: 10px;
    margin-top: -25px;
    background: #222;
    border-radius: 0 0 5px 5px;
    z-index: 0; /* na frente do card */
    bottom: -5px;
}

.emprestimos .container-simulation .result-emprestimo {
    height: 50px;
    min-width: 200px;
    max-width: 450px;
    width: 450px;
    text-align: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-paragraph);
    font-weight: 700;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    
    box-sizing: border-box;

    /* Estado inicial: escondido ACIMA (fora da vista, acima do topo) */
    transform: translateY(-200%);
    transition: transform 1.6s ease-out;
    opacity: 0;

    position: absolute;
    bottom: -70px;
}

/* Seção seja nosso cliente */
.emprestimos .seja-nosso-cliente {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emprestimos .seja-nosso-cliente .btn-seja-nosso-cliente {
    font-size: 18px;
    background: var(--primary-color);
    height: 50px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--secondary-color);
    font-family: var(--font-paragraph);
    font-weight: 800;
}

/* Seção FAG */

.emprestimos .container-duvida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
}

.emprestimos .container-duvida h3 {
    
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--font-paragraph);
    text-shadow: 0.0625rem 0.0625rem 0.15rem rgba(0, 0, 0, 0.5);
}

.emprestimos .container-duvida .box-duvida {
    margin-top: 1.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;

}

.emprestimos .container-duvida .box-duvida .duvida {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.emprestimos .container-duvida .box-duvida .duvida .box-child {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18x;
    font-weight: 700;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px 5px 0 0;
}


.emprestimos .container-duvida .box-duvida .duvida .paragrafo {
    border: 1px solid var(--primary-color);
    border-radius: 0 0 5px 5px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}


.emprestimos .container-duvida .box-duvida .duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 1.5rem;
}
