* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #073d41;
    --secondary-color: #FAF6ED;
    --hover-color: #FAF6ED;
    --text-color: #333;
    --text-links-color: #073d41;
    --color-error: #ff3333;
    --color-black: rgb(0, 0, 0);

    --font-title: 'Poppins', sans-serif;
    --font-paragraph: 'Inter', sans-serif;
    --text-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.5);
    --box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.5);;
}


body {

    visibility: hidden;

}

a {
    text-decoration: none;
    color: inherit;
}

address {
    display: inline;
}

input, 
textarea {
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  appearance: textfield;
}

/* deixando apenas para telas de Desktop*/
@media (width >= 63.9375rem) {
    
    body {
        min-height: 100vh;
        font-family: var(--font-paragraph);
        background: url(../assets/img/background.jpeg) no-repeat center center fixed;
        background-size: cover;  /* importante para a imagem cobrir tudo */
        background-color: var(--secondary-color);
        color: var(--text-color);
        line-height: 1.6;
        display: grid;
        grid-template-columns: 15.625rem 1fr;
        grid-template-rows: 1fr auto;
        user-select: none;
        visibility: visible;

    }
}