.title {
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    font-family: var(--font-title);
    text-shadow: var(--text-shadow);
}

.sub-text {
    font-size: 1.25rem;
    color: var(--text-color);
    text-align: center;
    max-width: 47.5rem;
    margin: 1rem 0;
    text-shadow: var(--text-shadow);
}

.underline {
    border: none; 
    height: 0.0625rem; 
    background-color: var(--primary-color);
    margin: 0.625rem 0;
    width: 90%;

}

.glass-effect  {
    background: rgba(255, 255, 255, 0.2);    
    backdrop-filter: blur(0.625rem);         
    -webkit-backdrop-filter: blur(0.625rem);
}

.box-shadow {
    box-shadow: var(--box-shadow);
}

.clicked:focus {
    transition: 0.1s;
    transform: translateY(0.1875rem);
    box-shadow: inset 2px 2px 4px var(--color-black);
}

.hidden {
    display: none;
}

.emprestimos .seja-nosso-cliente.btn-active {
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-all {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.input-radio input[type="checkbox"]:checked,
.input-radio input[type="radio"]:checked {
    accent-color: var(--primary-color);
}

.emprestimos .container-simulation .result-emprestimo.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 1;
}

.fa-plus.rotate {
    transform: rotate(45deg);
}

.view-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30rem;
    height: 12.8125rem;
    color: var(--color-error);
    border-radius: 0.3125rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    
    background: var(--secondary-color);
    
    
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.125rem;
    font-weight: 500;

}

.view-error.showError{
    border: 0.125rem solid var(--primary-color);
    opacity: 1;
    visibility: visible;
}

.labels {
    display: flex;
    gap: 1.875rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 1.875rem;
    font-weight: 700;
    padding: 0 1.25rem;
}

.labels input,
.labels textarea {
    width: 25rem;
    height: 2.5rem;
    text-align: left;
    text-indent: 0.625rem;
    border-radius: 0.3125rem;
    font-family: var(--font-paragraph);
    font-size: 1.125rem;
    color: var(--primary-color);
    
    background: url(../assets/img/background.jpeg), fixed, no-repeat;
    
}

.labels input[type="text"]:placeholder-shown, 
.labels input[type="email"]:placeholder-shown,
.labels input[type="tel"]:placeholder-shown,
.labels textarea:placeholder-shown {
    background: url(../assets/img/background.jpeg), fixed, no-repeat;
}

.labels input[type="text"]:not(:placeholder-shown),
.labels input[type="email"]:not(:placeholder-shown),
.labels input[type="tel"]:not(:placeholder-shown),
.labels textarea:not(:placeholder-shown) {
    background: var(--secondary-color);
}

.labels input[type="text"]:hover,
.labels input[type="email"]:hover,
.labels input[type="tel"]:hover,
.labels textarea:hover {
    background: var(--secondary-color);
}

.labels input[type="text"]:focus,
.labels input[type="email"]:focus,
.labels input[type="tel"]:focus,
.labels textarea:focus {
    background: var(--secondary-color);
}

#btnTopo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    
    width: 3.125rem;
    height: 3.125rem;

    .fa-circle-up {
        font-size: 2rem;
    }
}


/* Container do input */
.input-group {
    position: relative;
}

.input-group .erro {
    color: var(--color-error);
    border: 0.0625rem solid var(--color-error);
}

.input-group .sucesso {
    color: var(--primary-color);
    border: 0.0625rem solid var(--primary-color);
}

.input-group .erro,
.input-group .sucesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.125rem;
    height: 11.875rem;
    width: 25.0625rem;
    background: var(--secondary-color);
    border-radius: 0.3125rem;
}

.input-group .erro, 
.input-group .sucesso {
    position: absolute;
    opacity: 1;
    visibility: visible;

}